# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv/
venv/
ENV/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log

# Environment variables
.env

# Archivos temporales
*.tmp
*.temp
*.log
push.bat
create_repo.ps1

# Otros archivos del sistema
.DS_Store
Thumbs.db 